<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddTaskServlet</servlet-name>
        <servlet-class>controller.AddTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllTaskServlet</servlet-name>
        <servlet-class>controller.ViewAllTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <servlet-class>controller.DeleteTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <servlet-class>controller.UpdateTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTaskServlet</servlet-name>
        <servlet-class>controller.EditTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTaskServlet</servlet-name>
        <url-pattern>/AddTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllTaskServlet</servlet-name>
        <url-pattern>/ViewAllTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <url-pattern>/DeleteTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <url-pattern>/UpdateTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTaskServlet</servlet-name>
        <url-pattern>/EditTaskServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
